<div class="container">
    <div class="row py-5">
        <div class="col">
            <h1>
                Aviso legal, política de privacidad, politica de cookies y política de enlaces de afiliación
            </h1>
            <p>
                En cumplimiento con el deber de información recogido en artículo 10 de la Ley 34/2002, de 11 de julio,
                de Servicios de la Sociedad de la Información y del Comercio Electrónico a continuación se declara
                top8.es como un sitio web personal gestionado por Luis Quesada Romero con DNI 05921489R (en adelante,
                “el prestador”) con domicilio en C/Santa Maria de la Cabeza 17, Puertollano 13500, Ciudad Real.
            </p>

            <strong>
                Responsabilidad
            </strong>

            <p>
                Toda persona que acceda a este sitio web asume el papel de usuario, comprometiéndose a la observancia y
                cumplimiento riguroso de las disposiciones aquí dispuestas, así como a cualquier otra disposición legal
                que fuera de aplicación.
            </p>

            <p>
                El prestador se exime de cualquier tipo de responsabilidad derivada de la información publicada en su
                sitio web y por la falta de disponibilidad (caídas) del sitio el cual efectuará además paradas
                periódicas por mantenimientos técnicos. Además, el prestador se reserva el derecho a modificar cualquier
                tipo de información que pudiera aparecer en el sitio web, sin que exista obligación de preavisar o poner
                en conocimiento de los usuarios dichas obligaciones, entendiéndose como suficiente con la publicación en
                el sitio web del prestador.
            </p>

            <strong>
                Uso de Cookies
            </strong>

            <p>
                El sitio web del prestador puede utilizar cookies (pequeños archivos de texto que el servidor envía al
                ordenador de quien accede a la página). Se trata de una técnica usada de manera habitual en Internet
                para llevar a cabo determinadas funciones que son consideradas imprescindibles para el correcto
                funcionamiento y visualización del sitio. Las cookies utilizadas en el sitio web tienen, en todo caso,
                carácter temporal con la única finalidad de hacer más eficaz su transmisión ulterior y desaparecen al
                terminar la sesión del usuario. En ningún caso se utilizarán las cookies para recoger información de
                carácter personal.
            </p>

            <p>
                Desde el sitio web del cliente es posible que se redirija a contenidos de terceros sitios web. Dado que
                el prestador no puede controlar siempre los contenidos introducidos por los terceros en sus sitios web,
                éste no asume ningún tipo de responsabilidad respecto a dichos contenidos. En todo caso, el prestador se
                compromete a la retirada inmediata de cualquier contenido que pudiera contravenir la legislación
                nacional o internacional, la moral o el orden público, procediendo a la retirada inmediata de la
                redirección a dicho sitio web, poniendo en conocimiento de las autoridades competentes el contenido en
                cuestión.
            </p>

            <strong>
                Protección de datos personales
            </strong>

            <p>
                El prestador cumple con la normativa española de protección de datos de carácter personal, y garantiza
                el
                cumplimiento íntegro de las obligaciones dispuestas la <a
                    href="https://noticias.juridicas.com/base_datos/Admin/lo15-1999.html" target="_blank"><strong>Ley
                        Orgánica 15/1999, de 13 de diciembre, de
                        Protección de Datos de Carácter Personal (LOPD)</strong></a>, el <a
                    href="https://noticias.juridicas.com/base_datos/Admin/rd1720-2007.html" target="_blank"><strong>
                        Real Decreto 1720/2007, de 21 de diciembre, por el que
                        se aprueba el Reglamento de desarrollo de la LOPD</strong></a> y demás normativa vigente en cada
                momento, y vela por
                garantizar un correcto uso y tratamiento de los datos personales del usuario.
            </p>

            <strong>
                Política anti-spam
            </strong>
            <p>
                El prestador se declara completamente en contra del envío de comunicaciones comerciales no solicitadas y
                a
                cualquier tipo de conducta o manifestación conocida como “spam”, asimismo se declara comprometido con la
                lucha contra este tipo de prácticas abusivas.
            </p>

            <p>
                Por tanto, el prestador garantiza al usuario a que bajo ningún concepto los datos personales recogidos
                en el
                sitio web serán cedidos, compartidos, transferidos, ni vendidos a ningún tercero.
            </p>

            <p>
                Por las mismas razones, el proceso de registro no debe ser utilizado para inscribir direcciones de
                correo de
                personas ajenas sin el consentimiento expreso de las personas afectadas.Top8.es implementa como
                contramedida
                a esta prácticas una lista de correo de tipo double opt-in que necesita la confirmación explicita por
                parte
                del titular de la cuenta de correo electrónico indicada como dirección de suscripción, antes de recibir
                comunicaciones por correo electrónico.
            </p>

            <p>
                En el caso de que aun así un usuario reciba comunicaciones de este sitio web sin haberse registrado, o
                sin
                haber dado su consentimiento expreso a dicho registro, puede cancelar la suscripción desde los enlaces
                que
                se proporcionan en la propia comunicación.
            </p>

            <p>
                Además, el usuario puede ponerse en contacto con nosotros a través del formulario de contacto que se
                mantiene en el sitio web, tanto para comunicar lo sucedido como para solicitar la eliminación inmediata
                de
                sus datos de nuestro sistema.
            </p>

            <strong>
                Alojamiento de datos
            </strong>

            <p>
                Por razones técnicas y de calidad de servicio, el blog top8.es se encuentra alojado en los servidores de
                la
                empresa digitalocean.com <a href="https://www.digitalocean.com/legal/privacy-policy/"
                    target="_blank"><strong>(política de privacidad)</strong></a>. Por las razones similares, la
                prestación del servicio de
                suscripción por correo electrónico y envío de newsletter se efectúa desde las instalaciones de la
                empresa mailchimp.com <a href="https://mailchimp.com/legal/privacy/" target="_blank"><strong>(política
                        de privacidad)</strong></a>. Ambas empresas son de origen estadunidense.
            </p>

            <strong>
                Google Analytics
            </strong>

            <p>
                Google Analytics es un servicio análisis de datos estadísticas prestado por la empresa Google <a
                    href="https://policies.google.com/privacy" target="_blank"><strong>(política de
                        privacidad)</strong></a>. Top8.es utiliza este
                servicio para realizar un seguimiento de las estadísticas de uso del
                mismo.
            </p>

            <p>
                Google Analytics utiliza cookies para ayudar al sitio web a analizar datos estadísticos sobre el uso del
                mismo (número de visitas totales, páginas más vistas, etc.). La información que genera la cookie
                (incluyendo
                su dirección IP) será directamente transmitida y archivada por Google en los servidores de Estados
                Unidos.
            </p>

            <p>
                Google usará esta información por cuenta nuestra con el propósito de generar información estadísticas
                sobre
                el uso de top8.es , Google no asociará su dirección IP con ningún otro dato del que disponga Google.
                Google
                podrá transmitir dicha información a terceros cuando así se lo requiera la legislación, o cuando dichos
                terceros procesen la información por cuenta de Google.
            </p>

            <p>
                Puede Usted rechazar el tratamiento de los datos o la información rechazando el uso de cookies mediante
                la
                selección de la configuración apropiada de su navegador, sin embargo, de hacerlo, limitará la plena
                funcionabilidad de top8.es . Al utilizar este sitio web, da su consentimiento al tratamiento de
                información
                por Google en la forma y para los fines arriba indicados.
            </p>

            <strong>
                Google AdSense
            </strong>

            <p>
                Google, como proveedor asociado de top8.es , utiliza cookies para publicar anuncios en este sitio web.
                El
                usuario puede inhabilitar el uso de estas cookies siguiendo las instrucciones que se indican en <a
                    href="https://policies.google.com/technologies/ads" target="_blank"><strong>sección de publicidad de
                        la política de privacidad de Google</strong></a>.
            </p>

            <p>
                Google utiliza empresas publicitarias asociadas para publicar anuncios cuando visita nuestro sitio web.
                Es
                posible que estas empresas usen la información que obtienen de sus visitas a este y otros sitios web
                (sin
                incluir su nombre, dirección, dirección de correo electrónico o número de teléfono) para ofrecerle
                anuncios
                sobre productos y servicios que le resulten de interés. Si desea obtener más información sobre esta
                práctica
                y conocer sus opciones para impedir que estas empresas usen esta información, consulte por favor el
                enlace
                anterior.
            </p>

            <!--
            Feedburner

            Top8.es puede utilizar FeedBurner como gestor de suscripciones al feed, bajo la política de privacidad de
            Google antes mencionada.Top8.es puede utiliza FeedBurner para servir al usuario los archivos XML que
            corresponden al contenido del feed y visualizar, en su caso, anuncios AdSense en ellos. Feedburner hace un
            tratamiento de direcciones IP durante este proceso similar al anteriormente descrito para el caso de Google
            Analytics y AdSense cuyos detalles se pueden consultar en la política de privacidad antes mencionada.
            -->

            <strong>
                Consentimiento al tratamiento de los datos personales del usuario
            </strong>

            <p>
                En el marco de sus actividades, top8.es dispone de la posibilidad de registro de usuarios para el envío
                de
                comunicaciones por correo electrónico, efectuar comentarios en el blog y enviar mensajes a través del
                formulario de contacto.
            </p>

            <p>
                El usuario mediante los actos de suscripción al blog, la realización comentarios o el formulario de
                contacto estará dando su consentimiento expreso al tratamiento de los personales proporcionados según lo
                dispuesto en
                el <a href="https://noticias.juridicas.com/base_datos/Admin/lo15-1999.t2.html#a6"
                    target="_blank"><strong>artículo 6 de la LOPD</strong></a>. El usuario podrá ejercer sus derechos en
                los términos dispuestos por el <a
                    href="https://noticias.juridicas.com/base_datos/Admin/lo15-1999.t2.html#a5" target="_blank"><strong>
                        artículo 5 de la LOPD</strong></a>.
            </p>

            <p>
                Estos mismos actos implican asimismo el consentimiento expreso del usuario a la transferencia
                internacional
                de datos que se produce en términos de la LOPD debido a la ubicación física de las instalaciones de los
                proveedores arriba mencionados.
            </p>

            <p>
                Los datos de carácter personal solicitados en estas actividades, quedarán incorporados a un fichero cuya
                finalidad es la comunicación de novedades relativas al sitio web de top8.es actuando como responsable
                del
                fichero el prestador. Los campos marcados con asterisco son de cumplimentación obligatoria, siendo
                imposible
                realizar la finalidad expresada si no se aportan estos datos. Queda igualmente informado de la
                posibilidad
                de ejercitar los derechos que se indican en el apartado relativo a los Derechos del usuario.
            </p>

            <strong>
                Derechos del usuario
            </strong>

            <p>
                De conformidad con lo establecido en el <a
                    href="https://noticias.juridicas.com/base_datos/Admin/lo15-1999.t2.html#a5" target="_blank"><strong>
                        artículo 5 de la LOPD</strong></a>, se informa al usuario que la finalidad
                exclusiva de la base de datos de registro es el envío de información sobre novedades relacionadas con el
                sitio web top8.es . Únicamente los titulares tendrán acceso a sus datos, y bajo ningún concepto, estos
                datos
                serán cedidos, compartidos, transferidos, ni vendidos a ningún tercero.
            </p>

            <p>
                De acuerdo con lo dispuesto en la LOPD, el usuario en cualquier momento podrá ejercitar sus derechos de
                acceso, rectificación, cancelación, y oposición ante el prestador.
            </p>

            <p>
                Para facilitar el ejercicio de estos derechos se facilita en todas las comunicaciones un enlace de
                solicitud
                de baja que redundará en la eliminación inmediata de los datos personales del usuario de nuestra base de
                datos.
            </p>

            <strong>
                Enlaces de afiliación
            </strong>

            <p>
                top8.es utiliza enlaces de afiliación de productos y servicios de marcas que hayan
                establecido un programa de afiliados. Estos enlaces se usan exclusivamente después de hacer usado dichos
                productos y servicios, o bien, haber realizado pruebas que permitan valorar que cumplen con un adecuado
                nivel de calidad.
            </p>

            <p>
                El prestador se compromete a no incluir enlaces afiliados arbitrarios a productos que no cumplan con las
                condiciones antes descritas entendiendo además que este tipo de prácticas resultarían muy
                contraproducentes
                para la reputación del propio sitio web que los promociona.
            </p>

            <p>
               Todos los precios de los productos son fijados por los vendedores correspondientes en cada tienda online, están sujetos a variaciones y en ningún caso top8.es tiene control sobre las condiciones de venta, el stock disponible o los envíos y devoluciones de los mismos. Los enlaces de afiliado pueden generar comisiones para nuestra empresa pero de ningún modo modificar los precios que son iguales para los usuarios independientemente de desde dónde accedan a las tiendas para comprar los productos online.
            </p>

            <p>
                Top8.es está inscrito en el programa de afiliados de Amazon.es y genera ingresos por las compras realizadas por los usuarios a través de los enlaces de afiliado que se pueden encontrar en ésta. Puede consultar las condiciones de este programa en la <a href="https://afiliados.amazon.es/" target="_blank"><strong>página oficial de Amazon.</strong></a>
            </p>

            <strong>
                Propiedad Intelectual y uso de los contenidos
            </strong>

            <p>
                El sitio web top8.es, incluyendo a título enunciativo pero no limitativo su programación, edición,
                compilación y demás elementos necesarios para su funcionamiento, los diseños, logotipos, texto y/o
                gráficos
                son propiedad del prestador o en su caso dispone de licencia o autorización expresa por parte de los
                autores.
            </p>

            <p>
                top8.es otorga al usuario una licencia Creative Commons Reconocimiento-NoComercial-CompartirIgual 3.0
                cuyos términos exactos se pueden consultar <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank"><strong>en este enlace</strong></a>.
            </p>
            <img src="../../../../assets/images/cc.png" alt="Licencia Creative Commons">

            <p>
                Cualquier uso no autorizado previamente por parte del prestador será considerado un incumplimiento grave
                de
                los derechos de propiedad intelectual o industrial del autor.
            </p>

            <p>
                Los diseños, logotipos, texto y/o gráficos ajenos al prestador y que pudieran aparecer en el sitio web,
                pertenecen a sus respectivos propietarios, siendo ellos mismos responsables de cualquier posible
                controversia que pudiera suscitarse respecto a los mismos. En todo caso, el prestador cuenta con la
                autorización expresa y previa por parte de los mismos.
            </p>

            <p>
                Para realizar cualquier tipo de observación respecto a posibles incumplimientos de los derechos de
                propiedad
                intelectual o industrial, así como sobre cualquiera de los contenidos del sitio web, puede hacerlo a
                través
                del formulario de contacto que se mantiene en el sitio web.
            </p>

            <strong>
                Ley Aplicable y Jurisdicción
            </strong>

            <p>
                Para la resolución de todas las controversias o cuestiones relacionadas con el presente sitio web o de
                las
                actividades en él desarrolladas, será de aplicación la legislación española, a la que se someten
                expresamente las partes.
            </p>
        </div>
    </div>
</div>