<div class="container-fluid text-center p-5">
    <div class="row">
        <div class="col">
            <h1 class="bebas text-dark display-3 py-3">Mejores productos y más demandados</h1>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col">
            <div class="product-card text-center">
                <div class="product-image">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/81wdE3J6V1L._AC_SL1500_.jpg"
                        class="img img-responsive">
                </div>
                <div class="product-content">
                    <div class="product-name bebas">
                        Fire TV Stick Lite con mando por voz Alexa
                    </div>
                    <div class="product-description">
                        El Fire TV Stick Lite incluye todo lo esencial para que lo configures y empieces a ver contenido sin complicaciones. Y con un 50 % más de potencia respecto al Fire TV Stick del 2019, el Fire TV ...
                    </div>
                    <div class="row justify-content-center">
                        <div class="product-price text-danger bebas">
                            29,99 €
                        </div>
                    </div>
                </div>
                <div class="btn-group w-100" role="group">
                    <a type="button" class="btn btn-primary text-white" href="https://amzn.to/3nMg9JS" target="_blank">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="assets/icons/bootstrap-icons.svg#bag" />
                        </svg>
                    </a>
                    <button type="button" class="btn btn-secondary text-white">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="assets/icons/bootstrap-icons.svg#heart" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="product-card text-center">
                <div class="product-image">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/61crLvH7hGL._AC_SL1001_.jpg"
                        class="img img-responsive">
                </div>
                <div class="product-content">
                    <div class="product-name bebas">
                        POCO X3 Pro, Smartphone 8+256 GB, 6,67”
                    </div>
                    <div class="product-description">
                        TODO LO QUE TE ENCANTÓ DEL POCO X3, ¡Y MÁS! Conserva la pantalla suave como la seda, la batería enorme, la carga ultrarrápida y los altavoces con calidad de estudio. Hemos hecho las mejoras necesarias.
                    </div>
                    <div class="row justify-content-center">
                        <div class="product-price text-danger bebas">
                            294,00 €
                        </div>
                    </div>
                </div>
                <div class="btn-group w-100" role="group">
                    <a type="button" class="btn btn-primary text-white" href="https://amzn.to/2RnjL9h" target="_blank">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="assets/icons/bootstrap-icons.svg#bag" />
                        </svg>
                    </a>
                    <a type="button" class="btn btn-secondary text-white">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="assets/icons/bootstrap-icons.svg#heart" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="product-card text-center">
                <div class="product-image">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/61yw1ZvAYIL._AC_SL1000_.jpg"
                        class="img img-responsive">
                </div>
                <div class="product-content">
                    <div class="product-name bebas">
                        Cecotec Pure Aroma 150 Yin
                    </div>
                    <div class="product-description">
                        El humidificador Pure Aroma 150 Yin cuenta con temporizador programable de hasta 3 horas, su uso es más seguro, permitiendo dejarlo encendido con total tranquilidad al apagarse automáticamente en el ...
                    </div>
                    <div class="row justify-content-center">
                        <div class="product-price text-danger bebas">
                            20.90 €
                        </div>
                    </div>
                </div>
                <div class="btn-group w-100" role="group">
                    <a type="button" class="btn btn-primary text-white" href="https://amzn.to/3eiyjjf" target="_blank">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="assets/icons/bootstrap-icons.svg#bag" />
                        </svg>
                    </a>
                    <button type="button" class="btn btn-secondary text-white">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="assets/icons/bootstrap-icons.svg#heart" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="product-card text-center">
                <div class="product-image">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/610NAk2n0ML._AC_SL1000_.jpg"
                        class="img img-responsive">
                </div>
                <div class="product-content">
                    <div class="product-name bebas">
                        Cecotec Robot aspirador y fregasuelos Conga 1090
                    </div>
                    <div class="product-description">
                        Robot aspirador profesional 4 en 1: barre, aspira, pasa la mopa y friega el suelo; sistema force implode, maximiza la gran potencia de succión de hasta 1400 pa; cuenta con 3 potencias de limpieza ...
                    </div>
                    <div class="row justify-content-center">
                        <div class="product-price text-danger bebas">
                            149,00 €
                        </div>
                    </div>
                </div>
                <div class="btn-group w-100" role="group">
                    <a type="button" class="btn btn-primary text-white" href="https://amzn.to/3nNDCdH" target="_blank">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="assets/icons/bootstrap-icons.svg#bag" />
                        </svg>
                    </a>
                    <button type="button" class="btn btn-secondary text-white">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="assets/icons/bootstrap-icons.svg#heart" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col">
            <div class="product-card text-center">
                <div class="product-image">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/81wdE3J6V1L._AC_SL1500_.jpg"
                        class="img img-responsive">
                </div>
                <div class="product-content">
                    <div class="product-name bebas">
                        Fire TV Stick Lite con mando por voz Alexa
                    </div>
                    <div class="product-description">
                        El Fire TV Stick Lite incluye todo lo esencial para que lo configures y empieces a ver contenido sin complicaciones. Y con un 50 % más de potencia respecto al Fire TV Stick del 2019, el Fire TV ...
                    </div>
                    <div class="row justify-content-center">
                        <div class="product-price text-danger bebas">
                            29,99 €
                        </div>
                    </div>
                </div>
                <div class="btn-group w-100" role="group">
                    <a type="button" class="btn btn-primary text-white" href="https://amzn.to/3nMg9JS" target="_blank">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="assets/icons/bootstrap-icons.svg#bag" />
                        </svg>
                    </a>
                    <button type="button" class="btn btn-secondary text-white">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="assets/icons/bootstrap-icons.svg#heart" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="product-card text-center">
                <div class="product-image">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/61crLvH7hGL._AC_SL1001_.jpg"
                        class="img img-responsive">
                </div>
                <div class="product-content">
                    <div class="product-name bebas">
                        POCO X3 Pro, Smartphone 8+256 GB, 6,67”
                    </div>
                    <div class="product-description">
                        TODO LO QUE TE ENCANTÓ DEL POCO X3, ¡Y MÁS! Conserva la pantalla suave como la seda, la batería enorme, la carga ultrarrápida y los altavoces con calidad de estudio. Hemos hecho las mejoras necesarias.
                    </div>
                    <div class="row justify-content-center">
                        <div class="product-price text-danger bebas">
                            294,00 €
                        </div>
                    </div>
                </div>
                <div class="btn-group w-100" role="group">
                    <a type="button" class="btn btn-primary text-white" href="https://amzn.to/2RnjL9h" target="_blank">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="assets/icons/bootstrap-icons.svg#bag" />
                        </svg>
                    </a>
                    <a type="button" class="btn btn-secondary text-white">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="assets/icons/bootstrap-icons.svg#heart" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="product-card text-center">
                <div class="product-image">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/61yw1ZvAYIL._AC_SL1000_.jpg"
                        class="img img-responsive">
                </div>
                <div class="product-content">
                    <div class="product-name bebas">
                        Cecotec Pure Aroma 150 Yin
                    </div>
                    <div class="product-description">
                        El humidificador Pure Aroma 150 Yin cuenta con temporizador programable de hasta 3 horas, su uso es más seguro, permitiendo dejarlo encendido con total tranquilidad al apagarse automáticamente en el ...
                    </div>
                    <div class="row justify-content-center">
                        <div class="product-price text-danger bebas">
                            20.90 €
                        </div>
                    </div>
                </div>
                <div class="btn-group w-100" role="group">
                    <a type="button" class="btn btn-primary text-white" href="https://amzn.to/3eiyjjf" target="_blank">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="assets/icons/bootstrap-icons.svg#bag" />
                        </svg>
                    </a>
                    <button type="button" class="btn btn-secondary text-white">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="assets/icons/bootstrap-icons.svg#heart" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="product-card text-center">
                <div class="product-image">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/610NAk2n0ML._AC_SL1000_.jpg"
                        class="img img-responsive">
                </div>
                <div class="product-content">
                    <div class="product-name bebas">
                        Cecotec Robot aspirador y fregasuelos Conga 1090
                    </div>
                    <div class="product-description">
                        Robot aspirador profesional 4 en 1: barre, aspira, pasa la mopa y friega el suelo; sistema force implode, maximiza la gran potencia de succión de hasta 1400 pa; cuenta con 3 potencias de limpieza ...
                    </div>
                    <div class="row justify-content-center">
                        <div class="product-price text-danger bebas">
                            149,00 €
                        </div>
                    </div>
                </div>
                <div class="btn-group w-100" role="group">
                    <a type="button" class="btn btn-primary text-white" href="https://amzn.to/3nNDCdH" target="_blank">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="assets/icons/bootstrap-icons.svg#bag" />
                        </svg>
                    </a>
                    <button type="button" class="btn btn-secondary text-white">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="assets/icons/bootstrap-icons.svg#heart" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>