<!-- HERO HEADER -->
<app-hero-header [info]="info_hero"></app-hero-header>
<!-- END HERO HEADER -->

<!-- TOP 8 BEST TECHNOLOGY PRODUCT -->
<div class="container-fluid text-center p-5">
    <div class="row">
        <div class="col">
            <h1 class="bebas text-dark display-3 py-3">Mejores productos y más demandados</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-3 pb-5" *ngFor="let product of technology_intro">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>
</div>
<!-- TOP 8 BEST TECHNOLOGY PRODUCT -->

<!-- HEADER TECHNOLOGY MOBILE -->
<app-title-header [info]="info_header_mobile"></app-title-header>
<!-- END HEADER TECHNOLOGY MOBILE -->
<!-- TOP 8 BEST TECHNOLOGY MOBILE -->
<div class="container-fluid text-center p-5">
    <div class="row">
        <div class="col-md-6 col-lg-3 pb-5" *ngFor="let product of technology_mobile">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>
</div>
<!-- TOP 8 BEST TECHNOLOGY MOBILE -->

<!-- HEADER TECHNOLOGY EARPHONE -->
<app-title-header [info]="info_header_earphone"></app-title-header>
<!-- END HEADER TECHNOLOGY EARPHONE -->
<!-- TOP 8 BEST TECHNOLOGY EARPHONE -->
<div class="container-fluid text-center p-5">
    <div class="row">
        <div class="col-md-6 col-lg-3 pb-5" *ngFor="let product of technology_earphone">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>
</div>
<!-- TOP 8 BEST TECHNOLOGY EARPHONE -->

<!-- HEADER TECHNOLOGY SMARTWATCH -->
<app-title-header [info]="info_header_smartwatch"></app-title-header>
<!-- END HEADER TECHNOLOGY SMARTWATCH -->
<!-- TOP 8 BEST TECHNOLOGY SMARTWATCH -->
<div class="container-fluid text-center p-5">
    <div class="row">
        <div class="col-md-6 col-lg-3 pb-5" *ngFor="let product of technology_smartwatch">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>
</div>
<!-- TOP 8 BEST TECHNOLOGY SMARTWATCH -->

<!-- HEADER TECHNOLOGY pc -->
<app-title-header [info]="info_header_pc"></app-title-header>
<!-- END HEADER TECHNOLOGY pc -->
<!-- TOP 8 BEST TECHNOLOGY pc -->
<div class="container-fluid text-center p-5">
    <div class="row">
        <div class="col-md-6 col-lg-3 pb-5" *ngFor="let product of technology_pc">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>
</div>
<!-- TOP 8 BEST TECHNOLOGY pc -->

<!-- HEADER TECHNOLOGY LAPTOP -->
<app-title-header [info]="info_header_pc"></app-title-header>
<!-- END HEADER TECHNOLOGY LAPTOP -->
<!-- TOP 8 BEST TECHNOLOGY LAPTOP -->
<div class="container-fluid text-center p-5">
    <div class="row">
        <div class="col-md-6 col-lg-3 pb-5" *ngFor="let product of technology_laptop">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>
</div>
<!-- TOP 8 BEST TECHNOLOGY LAPTOP -->

<!-- HEADER TECHNOLOGY GAMING -->
<app-title-header [info]="info_header_gaming"></app-title-header>
<!-- END HEADER TECHNOLOGY GAMING -->
<!-- TOP 8 BEST TECHNOLOGY GAMING -->
<div class="container-fluid text-center p-5">
    <div class="row">
        <div class="col-md-6 col-lg-3 pb-5" *ngFor="let product of technology_gaming">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>
</div>
<!-- TOP 8 BEST TECHNOLOGY GAMING -->

<!-- HEADER TECHNOLOGY TV -->
<app-title-header [info]="info_header_tv"></app-title-header>
<!-- END HEADER TECHNOLOGY TV -->
<!-- TOP 8 BEST TECHNOLOGY TV -->
<div class="container-fluid text-center p-5">
    <div class="row">
        <div class="col-md-6 col-lg-3 pb-5" *ngFor="let product of technology_tv">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>
</div>
<!-- TOP 8 BEST TECHNOLOGY TV -->

<!-- HEADER TECHNOLOGY AUDIO -->
<app-title-header [info]="info_header_audio"></app-title-header>
<!-- END HEADER TECHNOLOGY AUDIO -->
<!-- TOP 8 BEST TECHNOLOGY AUDIO -->
<div class="container-fluid text-center p-5">
    <div class="row">
        <div class="col-md-6 col-lg-3 pb-5" *ngFor="let product of technology_audio">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>
</div>
<!-- TOP 8 BEST TECHNOLOGY AUDIO -->


