<!-- Footer -->
<footer class="bg-primary text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4 border-bottom pb-4">
      <!-- Facebook -->
      <a class="text-white m-1" href="#!" role="button">
        <svg class="bi" width="32" height="32" fill="currentColor">
          <use xlink:href="assets/icons/bootstrap-icons.svg#facebook" />
        </svg>
      </a>

      <!-- Twitter -->
      <a class="text-white m-1" href="#!" role="button">
        <svg class="bi" width="32" height="32" fill="currentColor">
          <use xlink:href="assets/icons/bootstrap-icons.svg#twitter" />
        </svg>
      </a>

      <!-- Instagram -->
      <a class="text-white m-1" href="#!" role="button">
        <svg class="bi" width="32" height="32" fill="currentColor">
          <use xlink:href="assets/icons/bootstrap-icons.svg#instagram" />
        </svg>
      </a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 text-left">
          <h5 class="text-uppercase">No te pierdas nada:</h5>
          <form action="" class="form-outline form-white mb-4">
            <input type="email" id="form5Example2" class="form-control" />
            <button type="submit" class="btn btn-outline-light my-2">
              Subscribe
            </button>
          </form>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Enlaces</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Políticas</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="http://top8.es">Top8</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->