<!-- HERO HEADER -->
<app-hero-header [info]="info_hero"></app-hero-header>
<!-- END HERO HEADER -->

<!-- TOP 8 BEST PRODUCT -->
<div class="container-fluid text-center p-5">
    <div class="row">
        <div class="col">
            <h1 class="bebas text-dark display-3 py-3">Mejores productos y más demandados</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-3 pb-5" *ngFor="let product of home_intro">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>
</div>
<!-- END TOP 8 BEST PRODUCT -->

<!-- HEADER TECHNOLOGY PRODUCT -->
<app-title-header [info]="info_header_technology"></app-title-header>
<!-- END HEADER TECHNOLOGY PRODUCT -->

<!-- TOP 8 BEST TECHNOLOGY PRODUCT -->
<div class="container-fluid text-center p-5">
    <div class="row">
        <div class="col-md-6 col-lg-3 pb-5" *ngFor="let product of home_technology">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>
</div>
<!-- TOP 8 BEST TECHNOLOGY PRODUCT -->

<!-- HEADER HOUSE PRODUCT -->
<app-title-header [info]="info_header_house"></app-title-header>
<!-- HEADER HOUSE PRODUCT -->

<!-- TOP 8 BEST HOUSE PRODUCT -->
<div class="container-fluid text-center p-5">
    <div class="row">
        <div class="col-md-6 col-lg-3 pb-5" *ngFor="let product of home_house">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>
</div>
<!-- TOP 8 BEST HOUSE PRODUCT -->

<!-- HEADER SPORTS PRODUCT -->
<app-title-header [info]="info_header_sport"></app-title-header>
<!-- HEADER SPORTS PRODUCT -->

<!-- TOP 8 BEST SPORTS PRODUCT -->
<div class="container-fluid text-center p-5">
    <div class="row">
        <div class="col-md-6 col-lg-3 pb-5" *ngFor="let product of home_sport">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>
</div>
<!-- TOP 8 BEST SPORTS PRODUCTT -->