/* Import Fonts */
@font-face {
    font-family: 'Bebas';
    src:  url('../assets/fonts/BebasNeue-Regular.ttf'),
}

/* Colors */
$primary: #F7A715;
$secondary: #89CFDf;
$dark-secondary: #1f7a8e;
$dark: #565656;
$danger: #b7212f;

/* Font */
.bebas {
    font-family: 'Bebas';
}

/* Utilities */
.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    background-attachment: fixed;
}

.bg-gradient {
    background: linear-gradient(0deg, rgba(247,167,21,1) 0%, rgba(247,167,21,1) 50%, rgba(255,255,255,1) 50%);
}

.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 65vh;
}

.product-card {
    max-width: 350px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
}

.product-card .product-image {
    height: 250px;
    max-height: 250px;
}

.product-image {
    padding: 2rem;
}

.product-card img {
    transition: all 0.25s linear;
    width: 100%;
}

.product-card .product-content {
    position: relative;
    padding: 15px;
    background-color: #FFF;
    bottom: -10px;
}

.product-card .product-name {
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -87px;
    color: #FFF;
    font-size: 17px;
    transform: skew(0deg, 357deg);
    background: #e58d00ba;
    padding: 0.85rem;
    min-height: 77px;
    font-size: 1.5rem;
    line-height: 1.6rem;
    letter-spacing: 0.05rem;
}

.product-card .product-name p {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.product-card .product-description {
    color: #777;
    font-size: 12px;
    padding: 10px;
}

.product-card .product-price {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.product-card .product-content::before {
    content: "";
    position: absolute;
    height: 20px;
    top: -10px;
    left: 0px;
    right: 0px;
    background-color: #FFF;
    z-index: 0;
    transform: skewY(-3deg);
}

.product-card:hover img {
    transform: rotate(5deg) scale(1.1, 1.1);
    filter: brightness(110%);
}

/* Title header */
.title-header h2 {
    font-size: 8vw;
    transform: translateY(12px);
}

/* Tooltips */
.tooltip-primary-left .arrow::before {
    border-left-color: $dark-secondary !important;
}

.tooltip-primary-left .tooltip-inner {
    background-color: $dark-secondary;
}

.tooltip-primary-top .arrow::before {
    border-top-color: $dark-secondary !important;
}

.tooltip-primary-top .tooltip-inner {
    background-color: $dark-secondary;
}


